<div class="home-background">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="banner w-50">

        <p>Sparkle your journey ...</p>
        <h3 class="ms-4">Let's</h3>

        <div class="logo-img">
          <%= image_tag "Make-it-easy_logo.png", class: "w-100" %>
        </div>
        <div>
          <%= form_with url: activities_path, method: :get, class: "d-grid gap-2 col-sm-8" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an activity..."
          %>
          <%= submit_tag "See what I can do!", class: "button" %>
          <% end %>
        </div>
      </div>

      <img src="https://img.okezone.com/content/2020/06/20/406/2233561/4-tips-menyenangkan-yang-harus-kamu-lakukan-saat-travelling-8yZWnYCT8L.jpg" class="banner-img w-50 m-0" style="object-fit: cover;">
    </div>
  </div>
</div>
