<div class="home-background">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="banner w-50">

        <p>Sparkle your journey ...</p>
        <h3 class="ms-4">Let's</h3>

        <div class="logo-img">
          <%= image_tag "Make-it-easy_logo.png", class: "w-100" %>
        </div>
        <div>
          <h3>Search</h3>
        </div>
        <div>
          <%= link_to "See what I can do!", activities_path, class:"button" %>
        </div>
      </div>

      <img src="https://img.okezone.com/content/2020/06/20/406/2233561/4-tips-menyenangkan-yang-harus-kamu-lakukan-saat-travelling-8yZWnYCT8L.jpg" class="w-50 m-0" style="object-fit: cover;">
    </div>
  </div>
</div>
