<div class="container">

  <div class="button">Book now!</div>

  <p>----------------------------</p>
  <h2>index Card</h2>
  <div class="card-grid">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-capitalize">Card title</h5>
        <p class="card-text">text text text text text</p>
        <div>
        <a href="#" class="button">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <p>-----------------------------------</p>
  <h2>Show Card</h2>

<div class="card">
  <div class="photos">
    <img src="..." class="card-img" alt="...">
    <div class="card-body">
    <p class="card-text">text text text text text</p>
    </div>
  </div>
 </div>


</div>
