<div class="container">

  <div class="button">Book now!</div>

  <p>-----------------------------------</p>
  <h2>Search bar</h2>
  <%# <div class="search">
    <div class="input-group">
      <input class="form-control rounded" placeholder="Search" aria-label="Search"/>
      <button class="search-button">search</button>
    </div>
   </div> %>

   <div class="input-group mb-3">
    <%# <div> %>
    <form class="search">
      <input type="text" class="form-control" placeholder="Search" class="search-bar">
      <input type="submit" value="Search!" class="search-btn">
    </form>
  <%# </div> %>

  </div>

  <p>----------------------------</p>
  <h2>index Card</h2>
  <div class="card-grid">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-capitalize">Card title</h5>
        <p class="card-text">text text text text text</p>
        <div>
        <a href="#" class="button">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <p>-----------------------------------</p>
  <h2>Show Card</h2>

  <div class="card">
    <div class="photos">
      <img src="..." class="card-img" alt="...">
      <div class="card-body">
        <h5 class="card-title text-capitalize">Card title</h5>
        <p class="card-text">text text text text text</p>
      </div>
    </div>
  </div>



</div>
