
.my-page{
  display: flex;
  justify-content: space-around;

  .user-information {
    margin: 5px;
    margin-top: 40px;

    .name {
      display: flex;
      justify-content: center;
      color: $blue;
    }

    .dashboard-tow-buttons {

      display: flex;
      align-items: center;
      justify-content: center;

      // .dasboard-button {
      //   margin: 8px;
      // }

    }

    .statistics {
      display: flex;
      flex-direction: column-reverse;
      margin-left: 8px;
      color: $blue;

      .dashboard-icon {
        width: 18px;
        height: 18px;
        margin-bottom: 8px;
        margin-left: 5px;
        margin-right: 5px;
      }

    }
  }

  .dashboard-card {
      background-color: white;
      height: 540px;
      width: 330px;
      border-radius: 5px;


      position: relative;



    .avatar-dashboard {

      position: absolute;
      right: 130px;
      top: -35px;

      .avatar-large {
        width: 70px;
        border-radius: 50%;
        border: white 1px solid;
      }


    }

  }


  .bookings-cards {
    border-radius: 5px;
    height: 260px;
    width: 530px;
    margin: 20px;
    margin-top: 0px;
    display: flex;
    flex-wrap: nowrap;
    .background {
      background-color: white;
      // background-color: rgba(0, 0, 0, 0.25);
      height: 104px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5px;
      &.all-activities{
        padding: 15px;
      }
      p {
        margin: 0px !important;
        color: $orange;
      }

      h5{
        color: $orange;
      }
    }
    .card-image {
      border-radius: 8px;
    }
  }

  .liking-cards {
    // background-color: rgb(255,112,0);
    height: 260px;
    width: 530px;
    margin: 20px;
    margin-top: 0px;
  }

  .carousel-item {
    transition-duration: 0s;
    height: 260px;
    width: 530px;
    img {
      object-fit: cover;
    }
  }

  .booking-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }




}

.likings-cards {
  border-radius: 5px;
  height: 260px;
  width: 530px;
  margin: 20px;
  margin-top: 0px;


  overflow-x: scroll;

}

.likings-cards::-webkit-scrollbar {
  width: 2px;
}
.likings-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.likings-cards::-webkit-scrollbar-thumb {
background-color: $orange;
outline: 1px solid $orange;
}

.like-photo{
  height: 240px;
  width: 530px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;

}

.tester {
  display: flex;
  flex-direction: column;
}
.background {
  background-color: black;
  border-radius: 5px;
}

.liking-card {
  position: relative;
}

.liking-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.my-map{
  height: 50%;
}

.show-link{
  color: $orange;
  &:hover{
    text-decoration: none;
    color: $blue;
  }
}
