.time {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}

.box {
  padding-bottom: 0.575rem;
  color: darkgrey;
}

.card-form{
  width: 30rem;
  // background-color: $blue;
}
