.button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF7000;
  transition: background 0.4s center;
  width: fit-content;

  &:hover{
    background: #003DE5;
    color: white;
    font-weight: bolder ;
  }
}

.card-title{
  font-weight: bold;
}

.card-grid{
  display: grid;
  grid-column: 2/4;
  border-radius: 5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 16px;
}

.card{
  border-radius: 5px;
}
